<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ListenersTestSuite">

<listeners>
    <listener class-name="com.qa.analyzer.MyTransformer"/>
</listeners>

  <test name="RetryLogic">
    <classes>
         <class name="com.qa.listeners.RetryLogicTest" />
    </classes>
  </test>
</suite>